body {
    margin: 0;
    padding: 0;
}

.page-header {
    display: block;
    height: 70px;
    width: 100%;
    background: #FF0000;
}

.page-footer {
    position: absolute;
    display: block;
    height: 60px;
    width: 100%;
    bottom: 0;
    background: #00FF00;
}

.page-footer > div {
    display: flex;
    height: 100%;
    width: 100%;
}

.page-footer > div > h1 {
    display: block;
    margin: auto;
}