.page-header {
    display: block;
    height: 70px;
    width: 100%;
    background: white;
    border-bottom: 1px #CCCCCC;
}

.page-header > .page-header-icon-container {
    display: flex;
    height: 100%;
    width: max-content;
    margin-left: 20px;
}

.page-header > .page-header-icon-container > .page-header-icon {
    display: block;
    margin: auto;
    height: 90%;
}